.app {
  width: 85vw;
  margin: 0 auto;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 80%;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
  border-radius: 5px 5px 0 0;
  width: 100%;
}

.container {
  padding: 2px 16px;
}

.country-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.search-box {
  border: 1px solid grey;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  width: 25%;
  line-height: 30px;
}



.filters{
  display: flex;
  justify-content: space-between;
  margin: 100px 0;
}

.filter-box {
  margin-right: 60px;
  width: 15%;
  padding: 10px;
}